.min {
  width: 340px;
  height: 200px;
}

.max {
  width: 98vw !important;
  height: 98vh !important;
}

.max__peer-video {
  width: 100% !important;
  height: 75vh !important;
  position: relative !important;
}

.max__peer-video video {
  max-width: 75vw !important;
  max-height: 65vw !important;
}

.max__user-video {
  width: 340px !important;
  height: 200px !important;
  border: 1px solid gainsboro !important;
  border-radius: 4px !important;
  position: absolute !important;
  bottom: 0 !important;
  right: 0 !important;
}

.max__user-video video {
  max-width: 300vw !important;
  max-height: 180vw !important;
}

.min__peer-video {
  width: 100% !important;
  height: 150px !important;
  position: relative !important;
}

.min__peer-video video {
  max-width: 90% !important;
  max-height: 100px !important;
}

.min__user-video {
  width: 64px !important;
  height: 64px !important;
  border: 1px solid gainsboro !important;
  border-radius: 4px !important;
  position: absolute !important;
  bottom: 0 !important;
  right: 0 !important;
}

.min__user-video video {
  max-width: 60px !important;
  max-height: 60px !important;
}

.call-div {
  border: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  background: #fff;
  border-radius: 4px;
  box-sizing: border-box;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
