<div style="width: 100%; height: 100%;">
    <mat-card *ngIf="chatWindowActive" fxFlex>
        <div fxLayout="column" fxLayoutAlign="start" style="width: 100%; height: 100%;">
            <div fxLayout="row" fxLayoutAlign="start center" style="margin-bottom: 16px !important;">
                <div fxFlex="1"></div>
                <button mat-icon-button [matMenuTriggerFor]="upload">
                    <mat-icon>add</mat-icon>
                </button>
                <mat-menu #upload="matMenu">
                    <button mat-menu-item>
                        <mat-icon>add_photo_alternate</mat-icon> Photo
                    </button>
                    <button mat-menu-item>
                        <mat-icon>movie</mat-icon> Video
                    </button>
                    <button mat-menu-item>
                        <mat-icon>upload_file</mat-icon> File
                    </button>
                    <button mat-menu-item>
                        <mat-icon>insert_link</mat-icon> Link
                    </button>
                </mat-menu>
                <div fxFlex></div>
                <div class="row" fxLayoutAlign="start start">
                    <div class="mat-headline" style="margin-bottom: 0;">
                        {{ getUserEmail(peerId).split('@')[0] }}
                    </div>
                    <small [ngClass]="isActive(peerId) ? 'active-badge':'inactive-badge'">
                        {{ isActive(peerId) ? 'available':'away' }}
                    </small>
                </div>
                <div fxFlex="2"></div>
                <button (click)="closeConversation()" mat-icon-button>
                    <mat-icon>close</mat-icon>
                </button>
            </div>
            <div>
                <mat-divider></mat-divider>
            </div>
            <div id="conversation-thread" style="overflow: auto;" fxFlex>
                <div *ngFor="let message of messages">
                    <div fxLayout="row" style="width: 100%; border-bottom: 1px solid gainsboro; padding: 8px 4px 8px 4px;">
                        <div style="color: #0D47A1;" fxLayout="column">
                            <small>{{ getUserEmail(message.fromUserId).split('@')[0] |uppercase}}</small>
                            <small>{{ message.date |date:'short'}}</small>
                        </div>
                        <div fxFlex="10"></div>
                        <div>{{ message.text }}</div>
                    </div>
                </div>
            </div>
            <mat-form-field appearance="outline">
                <textarea (keydown)="newText($event)" [formControl]="textMessage" fxFlex
                    placeholder="Type your message..." cols="30" rows="5" matInput></textarea>
            </mat-form-field>
        </div>
    </mat-card>
</div>