.active-badge,
.inactive-badge {
  display: flex;
  font-size: 12px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 1px 3px 1px 3px;
}

.active-badge {
  background-color: #dcedc8;
}

.inactive-badge {
  background-color: #ffccbc;
}

.preview-link {
  border: 1px solid gainsboro;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.preview-link__info {
  height: 64px !important;
}
