<div style="width: 100%; height: 100%;">
    <div fxLayout="column" style="width: 100%;">
        <!-- curr user -->
        <div fxLayout="row" fxLayoutAlign="start center" style="margin-top: 21px;">
            <div fxFlex="5"></div>
            <div [ngClass]="isActive(currUser.id) ? 'active-av':'av'">
                {{ (currUser.email[0]|slice:0:1)|uppercase }}
            </div>
            <div fxFlex="2"></div>
            <div class="mat-title" style="margin-bottom: 0 !important;">{{ currUser.email.split('@')[0]|uppercase }}
            </div>
            <div fxFlex></div>
            <!-- logout -->
            <button (click)="tryLogout()" color="secondary" fxFlex mat-stroked-button>Logout</button>
            <div fxFlex="5"></div>
        </div>
        <mat-divider style="margin-top: 21px;"></mat-divider>
        <!-- search users -->
        <div fxLayout="row" style="width: 100%; margin-top: 21px;">
            <div fxFlex="5"></div>
            <mat-form-field appearance="outline" fxFlex>
                <mat-label>Search User</mat-label>
                <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
                <mat-autocomplete autActiveFirstOption #auto="matAutocomplete">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option.email">
                        <div fxLayout="row">
                            <div>{{ option.email }}</div>
                            <div fxFlex></div>
                            <button matTooltip="Add User" (click)="addRequest(option)" mat-icon-button>
                                <mat-icon>person_add</mat-icon>
                            </button>
                        </div>

                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <div fxFlex="5"></div>
        </div>
        <mat-accordion>
            <!-- contacts -->
            <mat-expansion-panel expanded=false class="mat-elevation-z0">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Contacts
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div fxLayout="row" style="width: 100%;">
                    <!-- <div fxFlex="5"></div> -->
                    <mat-list fxFlex>
                        <mat-list-item *ngFor="let contact of contacts" [value]="contact">
                            <div mat-line>
                                <div fxFlex="row" fxLayoutAlign="start center">
                                    <div [ngClass]="isActive(contact.contactUserId) ? 'active-av':'av'">
                                        {{(contact.contactUserEmail.split('@')[0]|slice:0:1)|uppercase}}
                                    </div>
                                    <div fxFlex="2"></div>
                                    <div>{{contact.contactUserEmail.split('@')[0]}}</div>
                                    <div fxFlex></div>
                                    <!-- <div>{{ isActive(contact.contactUserId) ? 'Active' : '' }}</div> -->
                                    <button (click)="selectContact(contact)" matTooltip="Open Chat" mat-icon-button>
                                        <mat-icon>chat</mat-icon>
                                    </button>
                                    <button (click)="isActive(contact.contactUserId) ? callContact(contact) : null"
                                        disabled matTooltip="Call" mat-icon-button>
                                        <mat-icon>call</mat-icon>
                                    </button>
                                    <button (click)="removeContact(contact)" matTooltip="Remove Contact"
                                        mat-icon-button>
                                        <mat-icon>person_remove</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </mat-list-item>
                    </mat-list>
                </div>
            </mat-expansion-panel>
            <!-- Requests -->
            <mat-expansion-panel expanded=false class="mat-elevation-z0">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Requests
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div fxLayout="row" style="width: 100%;">
                    <div fxFlex="5"></div>
                    <mat-list fxFlex>
                        <div mat-subheader>Received</div>
                        <mat-list-item *ngFor="let request of requests" [value]="request">
                            <div mat-line>
                                <div fxFlex="row" fxLayoutAlign="start center">
                                    <div>{{ getUserEmail(request.fromUserId) |lowercase}}</div>
                                    <div fxFlex></div>
                                    <button *ngIf="currUser.id !== request.fromUserId" (click)="acceptRequest(request)"
                                        matTooltip="Accept Request" mat-icon-button>
                                        <mat-icon>check_circle</mat-icon>
                                    </button>
                                    <button (click)="cancelRequest(request)" matTooltip="Deny Request" mat-icon-button>
                                        <mat-icon>cancel</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </mat-list-item>
                        <div mat-subheader>Sent</div>
                        <mat-list-item *ngFor="let request of sentRequests" [value]="request">
                            <div mat-line>
                                <div fxFlex="row" fxLayoutAlign="start center">
                                    <div>{{ getUserEmail(request.toUserId) |lowercase}}</div>
                                    <div fxFlex></div>
                                    <button (click)="cancelRequest(request)" matTooltip="Cancel Request"
                                        mat-icon-button>
                                        <mat-icon>cancel</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </mat-list-item>
                    </mat-list>
                    <div fxFlex="5"></div>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
        <!-- <div fxLayout="row" style="width: 100%;">
            <div fxFlex="5"></div>
            <div class="mat-subheading-1">Contacts</div>
            <div fxFlex></div>
        </div> -->
    </div>
</div>