.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.active-av,
.av {
  display: flex;
  width: 32px;
  height: 32px;
  font-size: 24px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.active-av {
  border: 2px solid #9ccc65;
}

.av {
  border: 1px solid gainsboro;
}

.call-div {
  cursor: move;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 25px;
  position: relative;
  z-index: 1;
  padding: 10px;
}
